* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.carts .container .carts-table {
  text-align: center;
}
.carts .container .carts-table .table .table-tbody .quantity-prod .btn {
  background-color: #6200EE;
  text-align: center;
  width: 40px;
  height: 40px;
  color: white;
}
.carts .container .carts-table .table .table-tbody .quantity-prod .btn-quantity {
  padding: 1px 25px;
  border: none;
  margin: 0 10px;
}
.carts .container .carts-table .table .table-tbody .action-prod .btn-edit {
  background-color: #6200EE;
  color: white;
  margin-right: 10px;
}
.carts .container .carts-table .table .table-tbody .action-prod .btn-delete {
  background-color: #EB5757;
  color: white;
}