* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.footerHome {
  border-top: 1px solid rgb(168, 168, 168);
  padding: 10px 0 0 0;
  margin-top: 50px;
}
.footerHome .container .row .col-4 .footer-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.footerHome .container .row .col-4 p {
  line-height: 15px;
}
.footerHome .footer-bottom {
  padding-top: 10px;
  padding-bottom: 1px;
  background-color: #D9D9D9;
}
.footerHome .footer-bottom .container {
  width: 100%;
  text-align: center;
}