* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container .h1 {
  font-weight: 700;
}
.container .form-style {
  width: 443px;
  margin: auto;
  margin-top: 30px;
}
.container .form-style input {
  width: 443px;
  padding: 16px 12px 14px 14px;
  background: rgba(33, 33, 33, 0.1);
  border-radius: 4px 4px 0px 0px;
  border: none;
}
.container .form-style .button {
  padding: 12px 30px;
  background: #6200EE;
  border-radius: 50px;
  color: white;
  border: none;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.container .form-style .kep-login-facebook {
  width: 100%;
  background: #1877F2;
  padding: 16px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container .form-style-rg {
  padding: 20px 40px;
}
.container .form-style-rg .form-group {
  position: relative;
  height: 132px;
}
.container .form-style-rg .form-group p {
  height: 30px;
}
.container .form-style-rg .form-group .input-rg {
  width: 100%;
  transition: all 0.2s linear;
  background: rgba(33, 33, 33, 0.1);
  padding: 16px 12px 14px 14px;
  border: none;
  border-radius: 4px 4px 0px 0px;
  font-size: 16px;
  font-weight: 100;
  color: black;
}
.container .form-style-rg .form-group .btn-submit {
  background: #6200EE;
  padding: 12px 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.container .form-style-rg .form-group .btn-submit:hover {
  background: #1877F2;
  color: white;
}
.container .form-style-rg .form-group input {
  transition: all 0.2s linear;
}
.container .form-style-rg .form-group input:focus {
  border-color: #6200EE;
}
.container .form-style-rg .form-group .fas {
  position: absolute;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container .form-style-rg .form-group .btn-eye {
  background-color: none;
  border: none;
  width: 50px;
  position: absolute;
  right: 10px;
  top: 58%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container .form-style-rg .form-group .hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.detail .container .detail-product {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.detail .container .detail-product .detail-l {
  width: 30%;
}
.detail .container .detail-product .detail-l img {
  padding: 50px 50px;
  background: #F8F8F8;
  width: 100%;
}
.detail .container .detail-product .detail-r {
  width: 70%;
  padding: 20px;
}
.detail .container .detail-product .detail-r .detail-r-title .name h3 {
  font-size: 30px;
  font-weight: 600;
}
.detail .container .detail-product .detail-r .detail-r-title .description {
  width: 550px;
}
.detail .container .detail-product .detail-r .detail-r-title .description p {
  font-size: 16px;
}
.detail .container .detail-product .detail-r .detail-r-title .size .btn-size {
  padding: 10px 15px;
  background: #CCCCCC;
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
}
.detail .container .detail-product .detail-r .detail-r-title .price {
  color: red;
  font-weight: bold;
  font-size: 30px;
}
.detail .container .detail-product .detail-r .detail-r-title .cacl {
  display: flex;
  text-align: center;
  justify-content: start;
}
.detail .container .detail-product .detail-r .detail-r-title .cacl .caclItem {
  width: 60px;
  height: 60px;
  align-items: center;
}
.detail .container .detail-product .detail-r .detail-r-title .cacl .caclItem p {
  padding: 20px;
}
.detail .container .detail-product .detail-r .detail-r-title .cacl .caclItem .btn-cacl {
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  padding: 10px 25px;
  border: none;
  border-radius: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  color: white;
}
.detail .container .detail-product .detail-r .detail-r-title .cacl .caclItem .btn-cacl:hover {
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  color: white;
}
.detail .container .detail-product .detail-r .detail-r-title button {
  margin-top: 10px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  padding: 15px 55px;
  border: none;
  border-radius: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  color: white;
}
.detail .container .detail-product .detail-r .detail-r-title button:hover {
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  color: white;
}
.detail .container .realate-product .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.detail .container .realate-product .row .col-pr {
  padding: 10px 30px;
  width: 33%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.menu-navbar {
  padding: 10px;
}
.menu-navbar a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.menu-navbar .active-home {
  position: relative;
  height: 3px;
  padding: 5px;
  border-bottom: 2px solid #000000;
}

.realate-product {
  margin-top: 50px;
}
.realate-product .realate-product_title {
  background: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);
  padding: 10px 10px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.realate-product .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.realate-product .row .col-pr {
  padding: 10px 30px;
  width: 33%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.search .container .search-prod .input-search {
  width: 400px;
  height: 50px;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  transition: 0.25s ease;
  color: #6a5af9;
  margin-right: 10px;
}
.search .container .search-prod .input-search:focus {
  border-color: #6a5af9;
}
.search .container .search-prod .btn-search {
  background: #6200EE;
  padding: 12px 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.search .container .search-prod .btn-search:hover {
  background: #1877F2;
  color: white;
}
.search .search-result {
  margin-top: 30px;
  color: white;
  padding: 10px 130px;
  background: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);
}
.search .container .show_price .select-price {
  padding: 10px;
  width: 443px;
}
.search .container .show_prod {
  margin-top: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.slick-prev {
  left: 80px;
  z-index: 100;
}

.slick-next {
  right: 80px;
  z-index: 100;
}

.slick-prev::before {
  font-size: 50px;
  color: black;
  left: 100px;
}

.slick-next::before {
  font-size: 50px;
  color: black;
}

.carousel-inner .row {
  padding: 0 10px;
}
.carousel-inner .row .carousel-image {
  height: 500px;
  z-index: 1;
}
.carousel-inner .row .carousel-image img {
  margin-left: 20%;
  height: 500px;
  object-fit: contain;
}
.carousel-inner .row .carousel-title {
  display: flex;
  align-items: center;
  position: relative;
  height: 500px;
}
.carousel-inner .row .carousel-title .carousel-title_inner {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  margin-left: auto;
}
.carousel-inner .row .carousel-title .carousel-title_inner .desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
}
.carousel-inner .row .carousel-title .carousel-title_inner .btn-buynow {
  background-color: #F8B653;
  padding: 13px 34px;
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.profile-information {
  margin-top: 10px;
  width: 100%;
}
.profile-information .profile-title {
  float: left;
  width: 100%;
}
.profile-information .profile-title .title {
  left: 0;
  width: 400px;
  font-size: 30px;
  padding: 10px;
  font-weight: 600;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
}
.profile-information .profile {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
}
.profile-information .profile .profile-avatar {
  min-width: 20%;
  padding: 10px 50px;
}
.profile-information .profile .profile-avatar img {
  width: 225px;
  height: 225px;
  border-radius: 150px;
  padding: 20px;
}
.profile-information .profile .profile-form {
  min-width: 80%;
  padding: 0 50px;
}
.profile-information .profile .profile-form .row .col-6 {
  padding: 0 30px;
}
.profile-information .profile .profile-form .row .col-6 .form-group .input-form {
  width: 100%;
  transition: all 0.2s linear;
  background: rgba(33, 33, 33, 0.1);
  padding: 16px 12px 14px 14px;
  border: none;
  border-radius: 4px 4px 0px 0px;
  font-size: 16px;
  font-weight: 100;
  color: black;
}
.profile-information .profile .profile-form .row .col-6 .form-group input:focus {
  border-color: #6200EE;
}
.profile-information .profile .profile-form .row .col-6 .form-group .btn-submit {
  float: right;
  background: #6200EE;
  padding: 12px 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.profile-information .profile .profile-form .row .col-6 .form-group .btn-submit:hover {
  background: #1877F2;
  color: white;
}

.profile-history {
  padding: 20px 40px;
}
.profile-history .tabs .tabsList {
  display: flex;
  align-items: center;
  justify-content: start;
}
.profile-history .tabs .tabsList .tabHead {
  padding: 10px;
  font-weight: 500;
  font-size: 30px;
}
.profile-history .tabs .tabsList .active {
  color: #AE18E2;
  border-bottom: 2px solid #6200EE;
}
.profile-history .tabs .tabContant {
  padding: 30px;
}
.profile-history .tabs .tabContant .history-order p {
  color: #AE18E2;
}
.profile-history .tabs .tabContant .history-order .history-table {
  text-align: center;
}
.profile-history .tabs .tabContant .history-order .history-table .thead {
  background-color: #D9D9D9;
}
.profile-history .tabs .tabContant .history-order .history-table .tbody .img-prod img {
  width: 80px;
}
.profile-history .tabs .tabContant .history-order .history-table .tbody .quantity-prod .btn-quantity {
  padding: 5px 40px;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.card-item {
  background: rgba(241, 241, 241, 0.6901960784) !important;
  min-width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  background-color: #F8F8F8;
}
.card-item a {
  list-style: none;
}
.card-item .card-like i {
  position: absolute;
  top: 30px;
  right: 30px;
  color: red;
  font-size: 40px;
}
.card-item .card-img {
  padding: 15px 35px;
}
.card-item .card-img img {
  width: 100%;
}
.card-item .card-body {
  padding: 0 23px;
}
.card-item .card-body .desc {
  color: #CBC9C9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 80%;
}
.card-item .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-item .card-footer .col-6 {
  width: 50%;
  background-color: #E1B067;
  text-align: center;
  position: relative;
  padding: 10px 0;
}
.card-item .card-footer .col-6 a {
  text-decoration: none;
  color: black;
}
.card-item .card-footer .bg-price {
  background-color: #DEDDDC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.carts .container .carts-table {
  text-align: center;
}
.carts .container .carts-table .table .table-tbody .quantity-prod .btn {
  background-color: #6200EE;
  text-align: center;
  width: 40px;
  height: 40px;
  color: white;
}
.carts .container .carts-table .table .table-tbody .quantity-prod .btn-quantity {
  padding: 1px 25px;
  border: none;
  margin: 0 10px;
}
.carts .container .carts-table .table .table-tbody .action-prod .btn-edit {
  background-color: #6200EE;
  color: white;
  margin-right: 10px;
}
.carts .container .carts-table .table .table-tbody .action-prod .btn-delete {
  background-color: #EB5757;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.text-menu {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

.footerHome {
  border-top: 1px solid rgb(168, 168, 168);
  padding: 10px 0 0 0;
  margin-top: 50px;
}
.footerHome .container .row .col-4 .footer-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.footerHome .container .row .col-4 p {
  line-height: 15px;
}
.footerHome .footer-bottom {
  padding-top: 10px;
  padding-bottom: 1px;
  background-color: #D9D9D9;
}
.footerHome .footer-bottom .container {
  width: 100%;
  text-align: center;
}